.content-header {
    max-width: 1100px;
    height: 224px;
    margin-bottom: 21px;
    background-image: url("/images/2.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.content-user-avatar {
    width: 174px;
    height: 174px;
    margin-right: 45px;
}

.content-user-name {
    font-family: Lato;
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 37px;
}

.content-user-description {
    display: block;
    font-family: Lato;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 9px;
}
